Repository ridmitri/time-slots: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c tsc --noEmit, eslint --fix

Add milliseconds utils
  package.json
  src/utils.test.ts
  src/utils.ts
  src/utils/millisecondsToHours/index.test.ts
  src/utils/millisecondsToHours/index.ts
  src/utils/transformHours/index.test.ts
  src/utils/transformHours/index.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Transform opening hours
  src/utils/millisecondsToHours/index.test.ts
  src/utils/millisecondsToHours/index.ts
  src/utils/secondsToHours/index.test.ts
  src/utils/secondsToHours/index.ts
  src/utils/transformHours/index.test.ts
  src/utils/transformHours/index.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

install coverage
  package-lock.json
  package.json
Due: prettier --write

cleanup
  src/utils/transformHours/index.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Add unit tests for shifting and formatting hours
  src/utils/array/getNextElement.test.ts
  src/utils/array/getNextElement.ts
  src/utils/secondsToHours/index.ts
  src/utils/transformHours/__tests__/formatHours.test.ts
  src/utils/transformHours/__tests__/secondsToHours.test.ts
  src/utils/transformHours/__tests__/shiftHours.test.ts
  src/utils/transformHours/index.test.ts
  src/utils/transformHours/index.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Add general hours tests and time fractions
  src/utils/transformHours/__tests__/formatHours.test.ts
  src/utils/transformHours/__tests__/transformHours.test.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Setup styled component & theme
  index.html
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/theme/GlobalStyle.ts
  src/components/theme/index.ts
  src/favicon.svg
  src/index.css
  src/logo.svg
  src/main.tsx
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Add accessTime icon, update theme
  package-lock.json
  package.json
  src/App.tsx
  src/components/Icon/AccessTime.tsx
  src/components/theme/index.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Render list of opening hours from sample payload
  package-lock.json
  package.json
  src/App.tsx
  src/components/HoursList/index.tsx
  src/components/HoursList/payload.ts
  src/components/HoursList/styled.ts
  src/utils/isToday.ts
  src/utils/transformHours/index.ts
  src/utils/uuid.ts
  vite.config.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

cleanup console
  src/components/HoursList/index.tsx
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

adjust styled
  src/App.tsx
  src/components/Hours/index.tsx
  src/components/Hours/styled.ts
  src/components/HoursList/styled.ts
  src/components/Layout/index.tsx
  src/components/Layout/styled.ts
  src/main.tsx
  src/theme/GlobalStyle.ts
  src/theme/index.ts
  src/utils/payload.ts
  vite.config.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

finalize styles
  docs/product-requirements.pdf
  src/components/Hours/DisplayTime.tsx
  src/components/Hours/index.tsx
  src/components/Hours/styled.ts
  src/theme/index.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

refactor white space
  src/components/Hours/DisplayTime.tsx
  src/components/Hours/index.tsx
  src/components/Hours/styled.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Add test for display time rendering
  package-lock.json
  package.json
  src/components/Hours/DisplayTime.test.tsx
  src/components/Hours/DisplayTime.tsx
  src/setupTests.ts
  vite.config.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Add api emulation
  package-lock.json
  package.json
  public/favicon.ico
  public/mockServiceWorker.js
  src/api/handlers.ts
  src/api/payload.ts
  src/components/Hours/index.tsx
  src/components/Hours/queryFunctions.ts
  src/components/Hours/styled.ts
  src/components/Spinner/index.tsx
  src/components/Spinner/styled.ts
  src/main.tsx
  vite.config.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Move shared types to the root, fix isToday
  src/api/handler.ts
  src/api/handlers.ts
  src/api/payload.ts
  src/components/Hours/index.tsx
  src/components/Hours/queryFunctions.ts
  src/components/Hours/styled.ts
  src/main.tsx
  src/types/index.ts
  src/utils/isToday.ts
  src/utils/transformHours/__tests__/formatHours.test.ts
  src/utils/transformHours/__tests__/shiftHours.test.ts
  src/utils/transformHours/__tests__/transformHours.test.ts
  src/utils/transformHours/index.ts
  vite.config.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Add github workflow
  .github/CODEOWNERS
  .github/workflows/checks.yml
Due: none

fix yml build job
  .github/workflows/checks.yml
Due: none

fix ci
  .github/workflows/checks.yml
  package.json
Due: prettier --write

Remove docs
  .gitignore
  docs/product-requirements.pdf
Due: none

Add theme switcher
  src/components/Icon/BedTime.tsx
  src/components/Icon/Brightness5.tsx
  src/components/Switcher/index.tsx
  src/components/Switcher/styled.ts
  src/main.tsx
  src/theme/Provider.tsx
  src/theme/index.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Add theme switcher (#9)
  src/components/Icon/BedTime.tsx
  src/components/Icon/Brightness5.tsx
  src/components/Switcher/index.tsx
  src/components/Switcher/styled.ts
  src/main.tsx
  src/theme/Provider.tsx
  src/theme/index.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Add docs
  README.md
  src/utils/transformHours/__tests__/secondsToHours.test.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Rename light/dark theme to primary/secondary
  src/components/Layout/index.tsx
  src/components/Switcher/index.tsx
  src/theme/Provider.tsx
  src/theme/index.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Assure week days order and add tests for broken order and incomplete payload
  src/types/index.ts
  src/utils/isToday.ts
  src/utils/transformHours/__tests__/transformHours.test.ts
  src/utils/transformHours/index.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Handle edge case with too many opening times a day
  src/components/Hours/styled.ts
  src/utils/transformHours/index.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

cleanup deps, styled and readme
  README.md
  package-lock.json
  package.json
  src/components/Hours/index.tsx
  src/components/Hours/styled.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Parallelize build and test jobs
  .eslintrc.json
  .github/workflows/checks.yml
  README.md
  package.json
Due: prettier --write

Transform app to time slots
  .lintstagedrc.json
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/api/handler.ts
  src/api/payload.ts
  src/components/Hours/DisplayTime.tsx
  src/components/Hours/index.tsx
  src/components/Hours/queryFunctions.ts
  src/components/Layout/index.tsx
  src/components/Layout/styled.ts
  src/theme/index.ts
  src/types/index.ts
  src/utils/array/getNextElement.test.ts
  src/utils/array/getNextElement.ts
  src/utils/csv.ts
  src/utils/isToday.ts
  src/utils/transformHours/__tests__/formatHours.test.ts
  src/utils/transformHours/__tests__/secondsToHours.test.ts
  src/utils/transformHours/__tests__/shiftHours.test.ts
  src/utils/transformHours/__tests__/transformHours.test.ts
  src/utils/transformHours/index.ts
  src/utils/utils.test.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Create static.yml
  .github/workflows/static.yml
Due: none

Cleanup styles
  package-lock.json
  package.json
  src/api/handler.ts
  src/components/Hours/queryFunctions.ts
  src/components/Hours/styled.ts
  src/components/Layout/index.tsx
  src/components/Layout/styled.ts
  src/main.tsx
  vite.config.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Fix deploy
  .github/workflows/checks.yml
  src/main.tsx
  tsconfig.json
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

deploy
  .github/workflows/checks.yml
Due: none

Fix build scrript
  .github/workflows/checks.yml
Due: none

update workflow for github pages
  .github/workflows/checks.yml
  .github/workflows/static.yml
Due: none

Align styles
  src/components/Hours/styled.ts
  src/components/Layout/index.tsx
  src/components/Layout/styled.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Fix tests
  package.json
  src/components/Hours/DisplayTime.test.tsx
  src/components/Hours/DisplayTime.tsx
  src/components/Hours/index.tsx
  src/components/Hours/styled.ts
  src/utils/csv.test.ts
  src/utils/csv.ts
  src/utils/utils.test.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Return checks workflow and update readme
  .github/workflows/checks.yml
  .github/workflows/static.yml
  README.md
  renovate.json
Due: prettier --write

Align spinner
  src/components/Hours/index.tsx
  src/components/Hours/styled.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Remove jsdom from test suite
  src/setupTests.ts
  vite.config.ts
Due: prettier --write, bash -c tsc --noEmit, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,json,ts,tsx,less,md}
  bash -c tsc --noEmit: any of: *.{ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
